.app--container {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

.register--container {
  display: inline-block;
  margin: 4rem 0 0 26rem;
  padding: 10px 20px;
  border-radius: 5px;
  width: 48%;
  height: 46rem;
  background-color: white;
  box-shadow: rgba(47, 106, 179, 0.35) 0px 5px 15px;
  border-radius: 10px;
  margin-bottom: 3.4rem;
}

.title {
  display: flex;
  align-items: flex-end;
  font-style: italic;
  position: relative;
  margin: 3rem 0 0 10rem;
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 29px;
  color: #595959;
  flex: none;
  order: 0;
  flex-grow: 0;
}

span {
  color: #0078f0;
  padding-left: 0.6rem;
  font-style: italic;
}

.paragrafh {
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  margin: 2rem 0 0 7rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.5);
}

.principal {
  display: block;
  align-items: center;
  flex-direction: column;
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1rem;
  color: #333333;
  padding: 2rem 0 0 4rem;
}

.register--input {
  display: block;
  align-items: center;
  position: relative;
  margin-top: 0.6rem;
}

.linha {
  position: relative;
  width: 34em;
  margin-left: 4rem;
}

input {
  display: flex;
  border: 0;
  outline: 0;
  margin-left: 4rem;
}

input[type="date"] {
  font-size: 0.9rem;
  outline: none;
  margin-top: 0.4rem;
}

::-webkit-calendar-picker-indicator {
  font-size: 1rem;
  cursor: pointer;
}

.container--button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  position: absolute;
  border: none;
  color: white;
  width: 20rem;
  height: 2.5rem;
  margin: 3.6rem 0 0 10rem;
  background: #0078f0;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 26px;
  letter-spacing: 0.46px;
  text-transform: uppercase;
  cursor: pointer;
}

/*media */

@media (max-width: 1348px) {
  .register--container {
    width: 58%;
    height: 56rem;
    margin: 8rem 0 0 10rem;
  }

  .title {
    margin: 3rem 0 0 10rem;
  }

  span {
    padding-left: 0.3rem;
  }

  .paragrafh {
    margin: 2.6rem 0 0 8rem;
  }
}

@media (max-width: 990px) {
  .register--container {
    width: 58%;
    height: 56rem;
    margin: 8rem 0 0 10rem;
  }

  .title {
    margin: 3rem 0 0 8rem;
  }

  span {
    padding-left: 0.3rem;
  }

  .paragrafh {
    margin: 2.6rem 0 0 4.5rem;
  }

  button {
    margin: 3.6rem 0 0 7rem;
  }
}

@media (max-width: 859px) {
  .register--container {
    width: 69%;
    height: 50rem;
    margin: 2rem 2rem 2rem 8rem;
  }

  .title {
    font-size: 1.6rem;
  }

  .paragrafh {
    font-size: 1.2rem;
  }

  .principal {
    font-size: 1rem;
  }

  .register--input {
    font-size: 1rem;
    margin-top: 1rem;
  }

  Input {
    font-size: 1rem;
    margin-top: 1rem;
  }

  input[type="date"] {
    font-size: 1rem;
    margin-top: 1rem;
  }

  button {
    font-size: 1rem;
  }
}

@media (max-width: 859px) {
  .register--container {
    width: 65%;
    height: 65rem;
    margin: 4rem 0 0 2.5rem;
  }
}

@media (max-width: 702px) {
  .title {
    font-size: 1.3rem;
  }

  .paragrafh {
    font-size: 1rem;
  }

  .principal {
    font-size: 0.9rem;
  }

  .register--input {
    font-size: 0.9rem;
    margin-top: 1rem;
  }

  .linha {
    width: 18em;
  }

  Input {
    font-size: 0.9rem;
    margin-top: 1rem;
  }

  input[type="date"] {
    font-size: 0.9rem;
    margin-top: 1rem;
  }

  button {
    margin: 3rem 0 0 4rem;
  }
}

@media (max-width: 556px) {
  .register--container {
    margin: 2rem 0 0 2rem;
  }

  .title {
    margin: 3rem 0 0 2.9rem;
  }

  /*span {
   
    padding-left: 0.6rem;
   
  }*/

  .paragrafh {
    margin: 2rem 0 0 0.1rem;
  }

  .principal {
    padding: 2rem 0 0 2rem;
  }

  .linha {
    margin-left: 2rem;
  }

  input {
    margin-left: 2rem;
  }

  button {
    width: 15rem;
    height: 2rem;
    margin: 3.6rem 0 0 2.7rem;
  }
}

@media (max-width: 412px) {
  .register--container {
    width: 90%;
    height: 50rem;
    margin: 1rem 0 0 1.4rem;
  }
}